
body {
    background-color:#a2a2d0;
}

h1 {
    
    position:relative;
    left:44%;
    color: indianred;
    border:4px solid #ffb7c5;
    width:190px;
    border-radius:20px;
   
}
h3 {
    position:relative;
    left:45%;
    color:indianred;
}

.kuva1 {
    margin: 35px;
    position:relative;
    left:27%;
    
}
.kuva2 {
    margin:20px;
    position:relative;
    left:21%;

}

p {
    margin-top:100px;
    position:relative;
    left:45%;
    border:5px solid #ffb7c5;
    background-color: indianred;
    width: 150px;
    border-radius:10px;
    
}

progress {
    position:relative;
    left:44%
    
}