nav {
    float:left;
    background-color: grey;
    width:10%;
    margin:10px;
    
}

section {
    float:left;
    background-color: lightgray;
    width:80%;
    padding:30px;
    margin:10px;
    
}

header{
    text-align: center;
    background-color: slategrey;
    padding: 30px;
}

li {
    list-style-type: none;
}

a:hover {
    color:red;
}